# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual env (Pipenv or venv)
.venv/
env/
venv/
Pipfile.lock

# VSCode

# Django migrations (optional)
*/migrations/__pycache__/
*.pyc
*.pyo
*.pyd
*/migrations/*.pyc

# OS-specific
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
